name: Notificación de Push

on:
  push:
    branches:
      - main

jobs:
  notificar:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3
      
      - name: Enviar notificación a ntfy.sh
        run: |
          curl -H "Title: Nuevo Push en GitHub" \
               -H "Priority: default" \
               -H "Tags: rocket" \
               -d "Se ha realizado un push al repositorio ${{ github.repository }} en la rama main por ${{ github.actor }}" \
               https://ntfy.sh/devops-itla